

.fullscreen-carousel {
  width: 100vw;
  overflow: hidden;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

/* Estilo das imagens dentro do Carousel */
.fullscreen-carousel .carousel-item img {
  width: 100%;
  height: auto;
}


.red-line {
  background-color: red;
  height: 5px;
  width: 100vw;
  text-align: center;
  padding: 30px 0;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  display: flex; /* Adiciona um display flex para os itens ficarem em linha */
  justify-content: center; /* Centraliza os itens na linha */
  align-items: center; /* Alinha os itens verticalmente no centro */
}

/* Estilo para o texto placeholder dentro da linha vermelha */
.placeholder-text {
  color: white;
  font-size: 25px;
  margin-right: 20px;
  
}

/* Estilo para o botão ao lado do texto */
.p-button-secondary {
  background-color: #c58d3d;
  color: rgb(255, 255, 255);
  border: 2px solid #c58d3d;
  
}


